notebook
langchain
langsmith
langchain_community
langchain-chroma
ollama
langserve[all]
chromadb
langgraph
langchain-anthropic
tavily-python
langchain_experimental
langchain_google_community
duckduckgo-search
isort
mypy
pytest
black

ipython
fastapi
streamlit
typing_extensions
